{% extends "base.html" %}

{% block body %}

<div class="container">
	<div class="row">
  		<div class="col-md-3" id="leftCol">
			<div class="well"> 
              	<ul class="nav nav-stacked" id="sidebar">
              		{% block sidebar_item %}
              		<!--
                		<li><a href="#sec1">Section 1</a></li>
                  		<li><a href="#sec2">Section 2</a></li>
                  		<li><a href="#sec3">Section 3</a></li>
                  		<li><a href="#sec4">Section 4</a></li>
                  	-->
                  	{% endblock %}
              	</ul>
  			</div>
      	</div>
      	<div class="col-md-9">
      		{% block content %}
      		<!--
            <h2 id="sec0">Content</h2>
			<h2 id="sec1">Content</h2>
			<h2 id="sec2">Content</h2>
			-->
			{% endblock %}
		</div> 
  	</div>
</div>

{% endblock %}